.container {
    display: block;
    margin: auto;
    width: 650px;
    height: 350px;
    background-color: burlywood;
    text-align: center;
    margin-top: 10rem;
}

body{
    background-color: #4d91e2;
}

.container table{
    width: 300;
    height: 300;
    align-items: center;
    padding-top: 82px;
}

#number1 {
    font-size: 45px;
    font-weight: bold;
    border: 5px solid green;
    padding: 50px;
}

#plus {
    font-size: 45px;
    font-weight: bold;

}

#number2 {
    font-size: 45px;
    font-weight: bold;
    border: 5px solid blue;
    padding: 50px;
}

#eq {
    font-size: 45px;
    font-weight: bold;
}

#input {
    padding: 10px;
    width: auto;
    border: 2px solid #14d2d5;
}

#btn {
    background-color: red;
    color: #fff;
    padding: 12px;
    border-style: none;
    font-weight: bold;
    width: 70px;
}